div {
  width: 100vw;
  background-color: var(--bg-primary);
  height: 120px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  color: var(--white);
}

::ng-deep .cdk-overlay-container {
  z-index: 9999;
}
