.container-bg {
  background-color: var(--bg-secondary);
  width: 100vw;
  height: 100vh;
}

.container {
  width: 80vw;
  padding: 40px 20px;
  margin: 0 auto;

  // Coins grid.
  place-items: center;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(208px, 1fr));
}
